body {
  background-color: aliceblue;
  color: darkslategray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
}

.hero {
  width: max-content;
  text-align: center;
  margin: 50px auto;
}
